nav {
  background-color: #EFEFEF;
  padding-left: 70px;
  padding-right: 70px;
  height: 70px;
}

@media (max-width: 470px) {
  nav {
    padding-left: 31px;
    padding-right: 31px;
  }
}

nav .fas {
  color: #767676;
}

nav .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #EFEFEF;
  padding-left: 31px;
}

nav a {
  text-decoration: none;
  color: #0A0A0A;
  font-size: 16px;
}

nav a.active {
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}

nav .navbar-brand {
  color: #E92569;
  font-family: "playfair display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  cursor: default;
  padding-right: 40px;
}

nav .nav-link:visited {
  color: #0A0A0A;
}

nav .form-control {
  border: none;
  border-radius: 4px 0px 0px 4px;
  color: #767676;
}

nav .btn {
  background-color: #E92569;
  color: #FFFFFF;
  border-radius: 0px 4px 4px 0px;
}

nav .nav-item {
  padding-right: 35px;
}

.form {
  background-color: #EFEFEF;
  max-width: 555px;
  max-height: 760px;
  padding: 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

@media (max-width: 945px) {
  .form {
    width: 414px;
    max-height: 800px;
    background-color: none;
  }
}

.form .form-control, .form .input-group-text {
  border: none;
}

.form .input-group-text {
  background-color: #C7C7C7;
  color: #FFFFFF;
  width: 84px;
}

@media (max-width: 945px) {
  .form .input-group-text {
    display: none;
  }
}

.form .form-check-input {
  background-color: #E92569;
  border: none;
  width: 34px;
  height: 33px;
}

.form .form-website {
  width: 488px;
}

.form .form-check-label {
  height: 33px;
  padding-left: 20px;
  padding-top: 8px;
}

@media (max-width: 945px) {
  .form .form-check-label {
    width: 346px;
  }
}

.form .form__name, .form .form__email {
  width: 487px;
  height: 56px;
}

@media (max-width: 945px) {
  .form .form__name, .form .form__email {
    width: 346px;
  }
}

.form .form__website {
  max-width: 403px;
  height: 56px;
}

@media (max-width: 945px) {
  .form .form__website {
    max-width: 346px;
  }
}

.form .form__message {
  width: 487px;
  height: 224px;
}

@media (max-width: 945px) {
  .form .form__message {
    width: 346px;
  }
}

.form_container .btn {
  background-color: #767676;
  border: none;
  font-size: 22px;
  width: 487px;
  height: 58px;
}

@media (max-width: 945px) {
  .form_container .btn {
    width: 346px;
  }
}

.info__mail, .info__phone, .info__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 20px;
  padding-bottom: 30px;
}

.info__mail p, .info__phone p, .info__adress p {
  margin-bottom: 0px;
}

.info__mail .fas, .info__phone .fas, .info__adress .fas {
  font-size: 30px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 20px;
}

@media (max-width: 945px) {
  .contact {
    display: block;
  }
}

.contact .contact__info {
  padding-left: 68px;
  padding-top: 60px;
}

@media (max-width: 945px) {
  .main__contact {
    max-width: 100%;
    margin: auto;
    padding-left: 0px;
  }
}

@media (max-width: 945px) {
  .main__contact h1 {
    padding-left: 31px;
  }
}

footer {
  background: #FFFFFF;
  color: #767676;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  height: 53px;
}

@media (max-width: 470px) {
  footer .container__footer {
    display: block;
    text-align: center;
    margin-top: 10px;
    height: 164px;
  }
}

footer .container__footer .fab {
  font-size: 40px;
  padding-left: 15px;
}

@media (max-width: 643px) {
  .card .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card .card-header {
  border: none;
  background: none;
  padding-bottom: 40px;
}

.card .nav-link {
  color: #E92569;
  background-color: #FFFFFF;
}

.card .nav-pills .nav-link {
  border: solid 1px;
  border-radius: 0px;
}

.card .nav-pills .item__1 {
  border-radius: 4px 0px 0px 4px;
}

.card .nav-pills .item__4 {
  border-radius: 0px 4px 4px 0px;
}

.card .nav-pills .active {
  background-color: #E92569;
  border: solid 1px #E92569;
}

.card .col-sm-3 {
  width: 264px;
  max-height: 394px;
  padding-bottom: 33px;
}

@media (max-width: 643px) {
  .card .col-sm-3 {
    width: 342px;
    padding-left: 0px;
  }
}

.card__items .card {
  border: none;
}

.card__items .card .card-body {
  text-align: left;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.card__items .card .btn {
  background-color: #E92569;
  border: none;
  width: 175px;
  height: 46px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  -webkit-box-shadow: 33px 0px 0px #767676;
          box-shadow: 33px 0px 0px #767676;
}

@media (max-width: 643px) {
  .card__items .card .btn {
    width: 260px;
  }
}

.text-center {
  border: none;
  background: none;
}

.carousel-indicators button {
  border-top: 0px;
}

.carousel-indicators .active {
  background-color: #E92569;
}

.carousel-indicators .carousel__block {
  opacity: 1;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-right: 15px;
}

.cards {
  margin-bottom: 50px;
}

.cards .nav-link {
  color: #E92569;
  text-decoration: none;
}

.cards .nav-link:visited {
  color: #E92569;
}

.cards .tab-pane {
  color: #767676;
  background-color: #FFFFFF;
  padding: 40px 77px 83px 50px;
  border-radius: 0px 10px 10px 10px;
}

.cards .active {
  background-color: #FFFFFF;
}

.cards .fab, .cards .card__share {
  color: #0A0A0A;
  text-transform: uppercase;
}

.cards .nav-link.active {
  border-color: #D1D1D1;
  border-bottom: 1px solid #FFFFFF;
}

.cards ul {
  border: none;
}

.cards .tab-content {
  background-image: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 0px 10px 10px 10px;
  -webkit-box-shadow: 0px 16px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 22px rgba(0, 0, 0, 0.1);
}

.cards img {
  float: left;
  padding-right: 30px;
  height: 149px;
}

.cards .card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 20px;
}

.cards .fab {
  font-size: 25px;
}

body {
  color: #767676;
  font-family: "lato", sans-serif;
  font-size: 16px;
  background-image: radial-gradient(circle at center, #FFFFFF, #E5E5E5);
}

h1 {
  font-size: 34px;
  font-family: "playfair display", serif;
  color: #E92569;
}

main {
  padding: 70px 70px 247px 70px;
}

@media (max-width: 470px) {
  main {
    padding: 31px 31px 176px 31px;
  }
}

main .text__home {
  padding-bottom: 78px;
}

.news {
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */