footer {
  background: getColour(secondary);
  color: getColour(accent);
  flex-shrink: 0;

  .container__footer {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    height: 53px;

    .fab {
        font-size: 40px;
        padding-left: 15px;
    }
  }
} 