nav {
    background-color: getColour(lightgrey);
    padding-left: 70px;
    padding-right: 70px;
    height: 70px;

  a {
    text-decoration: none;
    color: getColour(black);
    font-size: 16px;

  }
    a.active {
    background-color: getColour(secondary);
    border-radius: 3px 3px 3px 3px;
  }


    .navbar-brand {
        color: getColour(primary);
        font-family: $font-header;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
        cursor: default;
        padding-right: 40px;
    }
          .nav-link:visited {
      color: getColour(black);
  }

  .form-control{
      border: none;
      border-radius: 4px 0px 0px 4px;
      color: getColour(accent);
  }
  .btn {
    background-color: getColour(primary);
    color: getColour(secondary);
    border-radius: 0px 4px 4px 0px;
}
.nav-item {
    padding-right: 35px;
}
}

.me-2 {
    margin-right: 0px;
}