nav {
    background-color: getColour(lightgrey);
    padding-left: 70px;
    padding-right: 70px;
    height: 70px;

        @media (max-width: 470px) {
            padding-left: 0px;
            padding-right: 0px;
        }  

    .fas {
        color: getColour(accent);
    }
    
    ul {

            @media (max-width: 470px) {
        
        max-width: 100%;
        margin: auto;
    }
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    background-color: getColour(lightgrey);

        @media (max-width: 470px) {
            padding-left: 0px;
            padding-right: 0px;
        } 
}

  a {
    text-decoration: none;
    color: getColour(black);
    font-size: 16px;
  }
    a.active {
    background-color: getColour(secondary);
    border-radius: 3px 3px 3px 3px;

        @media (max-width: 470px) {
            border-radius: 0px;
        } 
  }

    .navbar-brand {
        color: getColour(primary);
        font-family: $font-header;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
        cursor: default;
        padding-right: 40px;

            @media (max-width: 470px) {
                padding-left: 31px;
            } 
    }

    .nav-link:visited {
      color: getColour(black);
    }

    .form-control{
        border: none;
        border-radius: 4px 0px 0px 4px;
        color: getColour(accent);
    }

    .btn {
        background-color: getColour(primary);
        color: getColour(secondary);
        border-radius: 0px 4px 4px 0px;
    }

    .nav-item {
        padding-right: 35px;
    }

    .collapse {
    z-index: 1;
    background-color: getColour(lightgrey);
    max-width: 100%;
    margin: 0px;

        @media (max-width: 470px) {
            padding: 30px;
            box-shadow: (0px 6px 12px rgba(0, 0, 0, 0.1));
        }
    }
}

